@font-face {
   font-family: 'Heavitas';
   font-display: swap;
   src: url('file:///C:/Users/Jo%C3%A3o%20P%C3%B3voa/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-06-21_091430/fonts/Heavitas/font.ttf');
}
